<footer>
  <div class="container">
    <div class="footer-content">
      <div class="footer-info">
        <p>
          &copy; <span id="current-year">2026</span> Yali Katz. All rights
          reserved.
        </p>
        <p>
          View the source code on
          <a href="https://github.com/yali4343" target="_blank">GitHub</a>.
        </p>
      </div>

      <div class="footer-links">
        <ul class="social-links">
          <li>
            <a
              href="yali4343@gmail.com"
              aria-label="Email"
              class="footer-contact-link"
            >
              <i class="fas fa-envelope social-icon"></i>
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/yali-katz"
              target="_blank"
              aria-label="LinkedIn"
              class="footer-contact-link"
            >
              <i class="fab fa-linkedin social-icon"></i>
            </a>
          </li>
          <li>
            <a
              href="https://github.com/yali4343"
              target="_blank"
              aria-label="GitHub"
              class="footer-contact-link"
            >
              <i class="fab fa-github social-icon"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<script>
  // Update the current year
  document.getElementById("current-year").textContent =
    new Date().getFullYear();
</script>
